

<br><br><br>

<textarea class="chat" id="speech" cols="1" rows="25"></textarea>
    <button id="rec" class="btn">Speak</button>
    
    <div id="spokenResponse" class="spoken-response">
      <div class="spoken-response__text"></div>
    </div>

  <div class="debug">
    <div class="debug__btn btn">
      Debug JSON results
    </div>

    <div class="debug__content">
      <textarea id="response" cols="40" rows="20"></textarea>
    </div>
  </div>
  
