<div class="portfolio">
  <h1 class="portfolioHeader">{{ portfolio.header }}</h1>

  <h1>{{ portfolio.title }}</h1>

  <p-chart type="doughnut" [data]="portfolio"></p-chart>
  
  <h1 class="chartFooter">{{ portfolio.chartFooter }}</h1>

  <p-slider></p-slider>
</div>
