h1 {
  font-size: 1.1rem;
  text-align: center;
  color:brown;  
}
h1.portfolioHeader {
  color:black;
}

h1.chartFooter{
  color:black;
  padding:20px;
  font-size: 1rem;
}

.portfolio {
    height: 540px;
    padding-left: 20px;
}