

<div class="container">

<div style="text-align:center">
  <h2>
    {{siteTitle}}
  </h2>
  </div>

<h1 style="font-size: 4.3rem;font-family:Sans-Serif;">&nbsp;&nbsp;&nbsp;We will help you create 5 portfolios so you can withdraw &nbsp;money from your investment at any time with peace of mind.</h1>

<br><br>
<div class="ui-g">

<div class="ui-g-2"><app-portfolio [portfolio]="firstPortfolio"></app-portfolio></div>

<div class="ui-g-2"><app-portfolio [portfolio]="secondPortfolio"></app-portfolio></div>

<div class="ui-g-2"><app-portfolio [portfolio]="thirdPortfolio"></app-portfolio></div>

<div class="ui-g-2"><app-portfolio [portfolio]="fourthPortfolio"></app-portfolio></div>

<div class="ui-g-2"><app-portfolio [portfolio]="fifthPortfolio"></app-portfolio></div>

<div class="ui-g-1"><app-chatbot>Chatbot Loading...</app-chatbot></div>

</div>