@charset "UTF-8";
.slick-dots {
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    list-style: none;
    -ms-flex-pack: center;
    justify-content: center
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    overflow: hidden
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0
}

.slick-dots li button::before {
    font-family: slick;
    font-size: 36px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    color: #cacaca;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-dots li.slick-active button:before {
    font-size: 42px;
    color: #0079c1
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    transform: translate3d(0, 0, 0)
}

.sf-stickynav {
    margin: 0;
    padding: 0;
    background-color: #0079c1;
    position: fixed;
    top: -5px;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: .2s transform cubic-bezier(.3, .73, .3, .74);
    z-index: 999;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2)
}

.sf-stickynav .sf-stickynav-header {
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    font-family: dax-medium;
    position: relative;
    background-color: #0079c1;
    z-index: 9999;
    height: 45px
}

@media all and (max-width:767px) {
    .sf-stickynav .sf-stickynav-header {
        height: auto
    }
}

.sf-stickynav .sf-stickynav-header>div:nth-child(1) {
    padding-left: 25px
}

.sf-stickynav .sf-stickynav-header>div:nth-child(1),
.sf-stickynav .sf-stickynav-header>div:nth-child(3) {
    display: block
}

@media all and (max-width:767px) {
    .sf-stickynav .sf-stickynav-header>div:nth-child(1),
    .sf-stickynav .sf-stickynav-header>div:nth-child(3) {
        display: none
    }
}

.sf-stickynav .sf-stickynav-header>div:nth-child(2) {
    width: auto;
    height: auto
}

@media all and (max-width:767px) {
    .sf-stickynav .sf-stickynav-header>div:nth-child(2) {
        width: 100%;
        height: 100%;
        text-align: center
    }
}

@media all and (min-width:768px) {
    .sf-stickynav .sf-stickynav-header>div:nth-child(2) a {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        padding: 0;
        font-family: dax-medium;
        font-size: 1.333em;
        cursor: text;
        text-decoration: none
    }
    .sf-stickynav .sf-stickynav-header>div:nth-child(2) a:active,
    .sf-stickynav .sf-stickynav-header>div:nth-child(2) a:focus,
    .sf-stickynav .sf-stickynav-header>div:nth-child(2) a:hover {
        text-decoration: none
    }
}

@media all and (max-width:767px) {
    .sf-stickynav .sf-stickynav-header>div:nth-child(2) a {
        position: static;
        display: block;
        width: 100%;
        padding: 10px 0 5px;
        font-family: dax-bold;
        font-size: 1.133em;
        text-decoration: underline
    }
    .sf-stickynav .sf-stickynav-header>div:nth-child(2) a>span:before {
        color: #fff;
        line-height: 16px;
        font-size: 16px
    }
}

.sf-stickynav .sf-stickynav-header>div:last-child {
    height: 45px
}

@media all and (min-width:768px) {
    .sf-stickynav .sf-stickynav-header>div:last-child {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center
    }
}

.sf-stickynav .sf-stickynav-header ul li {
    display: inline-block
}

.sf-stickynav .sf-stickynav-header ul li a .iconNew.chevron-right {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ed1b24;
    vertical-align: middle;
    margin: 0 0 0 9px;
    padding: 3px
}

.sf-stickynav .sf-stickynav-header ul li a .iconNew.chevron-right:before {
    display: block;
    line-height: 19px;
    font-size: 10px
}

.sf-stickynav .sf-stickynav-header ul li a .iconNew:before {
    color: inherit;
    font-size: 11px
}

.sf-stickynav .sf-stickynav-header ul li a.tl-header-signin {
    display: block;
    height: 45px;
    box-sizing: border-box;
    padding: 12px 20px 0;
    background: #1d4e75;
    color: #fff
}

.sf-stickynav .sf-stickynav-header ul li+li {
    margin-left: 15px
}

.sf-stickynav .sf-stickynav-header a {
    color: #fff
}

.sf-stickynav .sf-stickynav-header a .iconNew.profile-tie::before,
.sf-stickynav .sf-stickynav-header a .iconNew.profile::before {
    font-size: 18px;
    position: relative;
    line-height: 0;
    top: 3px
}

.sf-stickynav .sf-stickynav-header a .iconNew:before {
    color: #fff
}

.sf-stickynav .sf-stickynav-header h3 {
    color: #fff
}

.sf-stickynav .sf-stickynav-menu {
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    width: 100%
}

@media all and (min-width:768px) {
    .sf-stickynav .sf-stickynav-menu {
        position: static;
        transform: translateY(0);
        height: 50px;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap
    }
}

@media all and (max-width:767px) {
    .sf-stickynav .sf-stickynav-menu {
        position: absolute;
        transform: translateY(-100%);
        margin: 0;
        height: auto;
        padding: 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media all and (min-width:768px) {
    .sf-stickynav .sf-stickynav-menu>li {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        border-bottom: 0;
        margin: 0 15px
    }
    .sf-stickynav .sf-stickynav-menu>li.active a,
    .sf-stickynav .sf-stickynav-menu>li.active a::before {
        color: #414141
    }
}

@media all and (max-width:767px) {
    .sf-stickynav .sf-stickynav-menu>li {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        text-align: center;
        border-bottom: 1px solid #ccc;
        margin: 0
    }
    .sf-stickynav .sf-stickynav-menu>li.active a {
        color: #414141
    }
}

.sf-stickynav .sf-stickynav-menu>li>a {
    display: inline-block;
    position: relative;
    line-height: 1em;
    font-family: dax-medium
}

@media all and (min-width:768px) {
    .sf-stickynav .sf-stickynav-menu>li>a {
        padding: 0 21px 1px 0
    }
}

@media all and (max-width:767px) {
    .sf-stickynav .sf-stickynav-menu>li>a {
        padding: 15px
    }
}

@media all and (min-width:768px) {
    .sf-stickynav .sf-stickynav-menu>li>a::before {
        color: #0079c1;
        content: "\e60d"
    }
}

@media all and (max-width:767px) {
    .sf-stickynav .sf-stickynav-menu>li>a::before {
        content: none
    }
}

@media all and (min-width:768px) {
    .sf-stickynav .sf-stickynav-menu>li>a.chevron:hover {
        border-bottom: 0
    }
}

.sf-stickynav .chevron.active,
.sf-stickynav .chevron:focus,
.sf-stickynav .chevron:hover {
    border-bottom: 0
}

body.down .sf-stickynav {
    margin-top: 5px;
    transform: translateY(0)
}

::-ms-tooltip {
    display: none
}

.tooltip-content {
    display: none
}

.mobile-help-tip {
    color: #414141;
    margin: 0
}

.mobile-help-tip:active,
.mobile-help-tip:focus,
.mobile-help-tip:hover {
    text-decoration: none
}

.mobile-help-tip::after {
    font-family: dax-medium;
    content: "?";
    margin-left: 5px;
    color: #fff;
    text-align: center;
    background-color: #0079c1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    display: inline-block
}

.mobile-help-tip.help-tip {
    font-family: dax
}

.mobile-help-tip>span,
.mobile-help-tip>span>p {
    font-size: 1rem
}

a.help-tip {
    position: relative;
    font-family: dax-medium
}

@media screen and (min-width:40em) {
    a.help-tip {
        margin-left: 5px
    }
}

@media screen and (max-width:39.9375em) {
    a.help-tip {
        left: 0;
        margin-left: 0
    }
}

a.help-tip span {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    color: #fff;
    background: #0079c1;
    text-align: left;
    visibility: hidden;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #ababab;
    z-index: 9998
}

@media screen and (min-width:64em) {
    a.help-tip span {
        width: 320px
    }
}

@media screen and (min-width:40em) and (max-width:63.9375em) {
    a.help-tip span {
        width: 280px
    }
}

@media screen and (min-width:40em) and (max-width:63.9375em) and (orientation:portrait) {
    a.help-tip span {
        width: 180px
    }
}

@media screen and (min-width:40em) {
    a.help-tip span {
        left: 35px;
        top: -15px
    }
}

@media screen and (max-width:39.9375em) {
    a.help-tip span {
        left: 0
    }
}

a.help-tip span>p {
    font-weight: 400;
    font-family: dax, arial
}

a.help-tip span:after {
    content: '';
    position: absolute;
    margin-top: -8px;
    width: 0;
    height: 0
}

@media screen and (min-width:40em) {
    a.help-tip span:after {
        right: 100%;
        top: 25px;
        border-right: 8px solid #0079c1;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent
    }
}

@media screen and (max-width:39.9375em) {
    a.help-tip span:after {
        display: none;
        right: 48%;
        bottom: 100%;
        border-bottom: 8px solid #0079c1;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent
    }
}

a.help-tip:not(.mobile-help-tip) {
    color: #fff;
    text-align: center;
    background-color: #0079c1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    display: inline-block
}

@media screen and (min-width:64em) {
    .fr a.help-tip span {
        width: 370px
    }
}

h1+div>.tooltip-content {
    top: 110%
}

@media screen and (min-width:40em) {
    h1+div>.tooltip-content {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto
    }
}

.portfolios {
    width: 100%;
    height: 275px;
}

.portfolios .portfolio {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%
}

@media screen and (min-width:40em) {
    .portfolios .portfolio {
        min-width: 220px
    }
}

@media screen and (max-width:39.9375em) {
    .portfolios .portfolio {
        padding: 0 25px
    }
}

@media screen and (device-aspect-ratio:40 / 71) {
    .portfolios .portfolio {
        padding: 0 15px
    }
}

.portfolios .divider {
    height: 40px;
    background-color: #f7f7f7;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf
}

.portfolios .divider>p {
    font-weight: 800;
    font-size: 1.4em
}

@media screen and (min-width:40em) {
    .portfolios .divider {
        display: block
    }
    .portfolios .divider.heading>p {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
        height: 100%
    }
    .portfolios .divider.heading .tooltip-content {
        left: -65px;
        top: 90%
    }
}

@media screen and (max-width:39.9375em) {
    .portfolios .divider {
        display: none
    }
}

.portfolios .sf-carousel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: row;
    flex-direction: row
}

@media screen and (max-width:39.9375em) {
    .portfolios .sf-carousel .slick-dots {
        bottom: 0
    }
}

.portfolios .graph-container {
    background-color: #f7f7f7;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 0;
    box-sizing: border-box
}

.portfolios .graph-container text {
    font-family: Arial;
    font-size: 12px
}

.portfolios .graph-container .equities-arc,
.portfolios .graph-container .equities-arc-circle {
    fill: #14b68e
}

.portfolios .graph-container .fixed-income-arc,
.portfolios .graph-container .fixed-income-arc-circle {
    fill: #0079c1
}

.portfolios .main-title {
    /*border:solid 1px black;*/
    height: 180px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.portfolios .main-title>h3 {
    padding-bottom: 20px
}

.portfolios .horizontal-wrapper {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    -ms-overflow-style: none
}

.portfolios .horizontal-wrapper>div>div>div:last-child {
    padding-bottom: 25px
}

.portfolios .horizontal-wrapper>div:last-child>div>div {
    border-right: 0
}

.portfolios .f-bar-container .pointy-bar-color1 {
    fill: #3f6bb3
}

.portfolios .f-bar-container .pointy-bar-color2 {
    fill: #6fbeea
}

.portfolios .f-bar-container .pointy-bar-color3 {
    fill: #0079c1
}

.portfolios .e-bar-container .pointy-bar-color1 {
    fill: #8cc640
}

.portfolios .e-bar-container .pointy-bar-color2 {
    fill: #077950
}

.portfolios .e-bar-container .pointy-bar-color3 {
    fill: #00b38c
}

.portfolios .e-bar-container .pointy-bar-color4 {
    fill: #72b301
}

@media screen and (min-width:40em) {
    .portfolios .main-wrapper {
        padding-bottom: 0
    }
}

@media screen and (max-width:39.9375em) {
    .portfolios .main-wrapper {
        padding-bottom: 45px
    }
}

@media screen and (min-width:40em) {
    .portfolios .text-container {
        padding: 20px
    }
}

@media screen and (max-width:39.9375em) {
    .portfolios .text-container {
        padding: 20px 0 0
    }
}

@media screen and (min-width:40em) {
    .portfolios .performance-bar-chart {
        border-bottom: 1px solid #dfdfdf
    }
    .portfolios .equities-bar-chart,
    .portfolios .fixed-income-bar-chart,
    .portfolios .graph-container,
    .portfolios .performance-bar-chart,
    .portfolios .text-container {
        border-right: 1px solid #dfdfdf
    }
}

@media screen and (min-width:40em) {
    .en .portfolios .text-container {
        height: 190px
    }
}

@media screen and (min-width:40em) {
    .fr .portfolios .text-container {
        height: 230px
    }
}

@media screen and (min-width:40em) and (max-width:63.9375em) and (orientation:portrait) {
    .fr .portfolios .divider.heading p {
        font-size: 1.1em
    }
}

.portfolios.clone {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(-100%);
    transition: .2s transform cubic-bezier(.3, .73, .3, .74);
    background-color: #fff;
    z-index: 9999;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #dfdfdf
}

@media screen and (max-width:39.9375em) {
    .portfolios.clone .sf-carousel {
        -ms-flex-align: center;
        align-items: center
    }
}

@media screen and (max-width:39.9375em) {
    .portfolios.clone .sf-carousel .slick-dots {
        bottom: 0
    }
}

@media screen and (max-width:39.9375em) {
    .portfolios.clone .sf-carousel .slick-prev {
        left: 0
    }
    .portfolios.clone .sf-carousel .slick-prev::before {
        content: "\e60e";
        font-size: 20px;
        color: #414141
    }
}

@media screen and (max-width:39.9375em) {
    .portfolios.clone .sf-carousel .slick-next {
        right: 0
    }
    .portfolios.clone .sf-carousel .slick-next::before {
        content: "\e60f";
        font-size: 20px;
        color: #414141
    }
}

@media screen and (max-width:39.9375em) {
    .portfolios.clone .sf-carousel .slick-next,
    .portfolios.clone .sf-carousel .slick-prev {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 45%;
        display: block;
        width: 30px;
        height: 30px;
        margin-top: -10px;
        padding: 0;
        cursor: pointer;
        color: transparent;
        border: none;
        outline: 0;
        background: 0 0;
        z-index: 9999
    }
}

@media screen and (max-width:39.9375em) {
    .portfolios.clone .sf-carousel .slick-arrow::before {
        line-height: 24px;
        font-family: bmo-icon;
        font-size: 23px;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        text-align: center;
        text-transform: none;
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        overflow: hidden
    }
}

@media screen and (max-width:39.9375em) {
    .portfolios.clone .main-wrapper {
        padding: 0
    }
}

@media screen and (min-width:40em) {
    .portfolios.clone {
        max-width: 1200px;
        padding: 0 45px;
        margin: 0 auto
    }
    .portfolios.clone::after {
        background-color: #fff;
        position: absolute;
        content: "";
        left: -100%;
        right: -100%;
        height: 100%;
        top: 0;
        z-index: -1;
        border-bottom: 1px solid #dfdfdf
    }
    .portfolios.clone .horizontal-wrapper>div {
        width: 20%
    }
}

.legal {
    margin: 35px 0
}

@media screen and (max-width:39.9375em) {
    .mobile-no-padding {
        padding: 0
    }
}

@media screen and (max-width:39.9375em) {
    .mobile-padding {
        padding: 10px
    }
}

.no-margin {
    margin: 0
}

body.down div.clone {
    transform: translateY(0)
}

@media screen and (min-width:40em) {
    .portfolios:not(.clone) {
        margin-bottom: 10px
    }
}

@media screen and (max-width:39.9375em) {
    .portfolios:not(.clone) .portfolio {
        opacity: .2;
        transition: all .3s ease
    }
    .portfolios:not(.clone) .portfolio.slick-active {
        opacity: 1
    }
}

.stickyHeading {
    height: 70px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #fff;
    width: 100%;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 9999;
    border-bottom: 1px solid #dfdfdf
}